<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>820357215783-met5t5gued137gggnojfp3g4pk4b8tu5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820357215783-met5t5gued137gggnojfp3g4pk4b8tu5</string>
	<key>API_KEY</key>
	<string>AIzaSyAgpGzXb68vVggPUtEVjPYVyvFQKVDoSyk</string>
	<key>GCM_SENDER_ID</key>
	<string>820357215783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trainee.BookingSalon</string>
	<key>PROJECT_ID</key>
	<string>bookingsalon-d561e</string>
	<key>STORAGE_BUCKET</key>
	<string>bookingsalon-d561e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820357215783:ios:6877e7d1f1f8ef55</string>
	<key>DATABASE_URL</key>
	<string>https://bookingsalon-d561e.firebaseio.com</string>
</dict>
</plist>